body{
     text-align: center;
}

hr {
     border: dotted #EAF6F6 6px;
     border-bottom: none;
     width: 4%;
     margin: 100px auto;
}

h1{
     color:#0E8388;
     margin: 50px auto 0 auto;
     font-size: 5.625rem;
     font-family: 'Sacramento', cursive;
}

h2{
     color:#0E8388;
     font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

p{
     line-height:2;
     font-size: 1.25rem;
     width:40%;
     margin:auto;
}

li{
     list-style: none;
     font-size: 1.15rem;
}

span{
     color:#2bc4ad;
}

.box{
     display: inline-block;
     padding-left: 5%;
}

.skillbox{
     background-color:#BDCDD6;
     box-sizing:border-box;
     display: inline-block;
     outline:none;
     border:none;
     margin:none;
     margin-left: 2px;
     width:15%;
     height:15%;
     text-decoration:none;
     box-shadow: 0 0.5rem 1rem;
}

.skillbox:hover{
     background-color:#CBE4DE;
     cursor: pointer;
}
.bgimage{
     width: 100%;
     height: 20%;
}

.contact-message {
     width: 40%;
     margin: 40px auto 60px;
}

.profilepic{
     width: 15%;
     border-radius: 100%
}

.intro{
     width:30%;
     margin:auto;
}

.heading{
     font-size:1.5rem;
     color:#11999E
}
.html{
     width: 40%;
     height:40%;
}

.top-container{
     position:relative;
}

.middle-container{
     margin: 100px 0;
}
.headingtext{
     position:absolute;
     text-align:center;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
}

a{
     color: #11999E;
     font-family: 'Montserrat', sans-serif;
     margin: 10px 20px;
     text-decoration: none;
}
   
a:hover {
     color: #EAF6F6;
}

.bottom-container {
     background-color: #66BFBF;
     padding: 50px 0 20px;
}

.contact-msg {
     color: #11999E;
     font-family: 'Montserrat', sans-serif;
}

.copyright {
     color: #EAF6F6;
     font-size: 0.75rem;
     padding: 20px 0;
}

.btn {
     background: #11cdd4;
     background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
     background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
     background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
     background-image: -o-linear-gradient(top, #11cdd4, #11999e);
     background-image: linear-gradient(to bottom, #11cdd4, #11999e);
     -webkit-border-radius: 8;
     -moz-border-radius: 8;
     border-radius: 8px;
     font-family: 'Montserrat', sans-serif;
     color: #ffffff;
     font-size: 20px;
     padding: 10px 20px 10px 20px;
     text-decoration: none;
   }
   
   .btn:hover {
     background: #30e3cb;
     background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
     background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
     background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
     background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
     background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
     text-decoration: none;
   }